body{
    font-family: cursive, sans-serif;
}
#section1{
    background-color: #999;
    padding: 20px;
}
input{
    padding: 5px;
    display: block;
    width: 150px;
    border-color: black;
}
#section1:hover{
    box-shadow: 0px 0px 6px #555;
}
legend{
    font-weight: bold;
    font-style: oblique;
    text-transform: uppercase;
}

#section2{
    background-color: #D64;
    padding: 20px;
}
#section2>legend:hover {
    text-decoration: underline;
}

#section3{
    background-color: #669;
    padding: 20px;
}

input [type="radio"], input [type="checkbox"]{
    display: block;
    position: relative
}
label{
    position: relative;
}

input[type="submit"]{
    padding: 20px;
    background-color: orange;
    font-size: 18px;
    color: #FFF;
    border-radius: 5px;
}
input[type="submit"]:hover{
    background-color:#C86;
}